<div style="min-height: 200px;">
  <p>
    <button class="btn btn-primary" ng-click="$ctrl.showImportModal()">导入规则组</button>
  </p>
  <p class="text-warn">
    数据上传中47%
  </p>
  <p>
    导入成功 145条数据
    <a>查看规则组详情&gt;&gt;</a>
  </p>
  <p>
    导入失败<br>
    失败原因：
  </p>
</div>
<div>
  <h5>导入规则组历史</h5>
  <div class="hr"></div>
  <div style="text-align:center;line-height:200px;">暂无导入规则组历史</div>
  <table class="table table-bordered table-hover">
    <thead class="bg-default">
      <tr>
        <th>导入时间</th>
        <th>导入结果</th>
        <th>规则组名称</th>
        <th>规则模块</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2016-10-27  10:55:23</td>
        <td>导入失败</td>
        <td>Arla官网打标签规则</td>
        <td>点击</td>
      </tr>
    </tbody>
  </table>
</div>