<div style="min-height: 200px;">
  <!-- 打开弹窗选择文件 -->
  <p class="hide">
    <button class="btn btn-primary" ng-click="$ctrl.showImportModal()">
      导入规则组
    </button>
  </p>
  <!-- 直接选择文件 -->
  <p>
    <input-file class="btn btn-primary" on-change="$ctrl.selectFile(file)"> 
      选择文件
    </input-file>
  </p>
  <p class="text-warn hide">
    数据上传中47%
  </p>
  <p ng-show="$ctrl.succMsg">
    导入成功：{{ $ctrl.succMsg }}
    <a>查看规则组详情&gt;&gt;</a>
  </p>
  <p ng-show="$ctrl.errMsg">
    导入失败：{{ $ctrl.errMsg }}
  </p>
</div>
<div class="hide">
  <h5>导入规则组历史</h5>
  <div class="hr"></div>
  <div style="text-align:center;line-height:200px;">暂无导入规则组历史</div>
  <table class="table table-bordered table-hover">
    <thead class="bg-default">
      <tr>
        <th>导入时间</th>
        <th>导入结果</th>
        <th>规则组名称</th>
        <th>规则模块</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2016-10-27  10:55:23</td>
        <td>导入失败</td>
        <td>Arla官网打标签规则</td>
        <td>点击</td>
      </tr>
    </tbody>
  </table>
</div>