<div>
	<div class="btn btn-default">提交规则组</div>
</div>
<div class="well" ng-repeat="form in $ctrl.formList track by $index">
	<button class="close" ng-click="$ctrl.removeSection($index)">&times;</button>
	<form class="form-horizontal" name="form.form" novalidate style="max-width: 680px;">
		<div class="text-right">
      <button class="btn btn-default">保存</button>
"
      <button class="btn btn-default" ng-click="form.options.resetModel()">清除规则</button>
    </div>
    <formly-form model="form.model" fields="form.fields" form="form.form" options="form.options">
    </formly-form>
  </form>	
  <pre>{{ form.model | json}}</pre>
  <pre>{{ form.form | json}}</pre>
</div>
<div>
	<button class="btn btn-default" ng-click="$ctrl.addSection()">
		<span class="glyphicon glyphicon-plus-sign"></span>添加规则</button>
</div>