<ui-select ng-model="$ctrl.currentId"
       theme="bootstrap"
       reset-search-input="false"
       title="">
  <ui-select-match allow-clear="false">{{$select.selected.title}}</ui-select-match>
  <ui-select-choices repeat="row.RuleGroupID as row in $ctrl.data | filter: $select.search">
    <div>{{ row.title }}</div>
  </ui-select-choices>
</ui-select>
<div style="height:15px;"></div>
<!-- <ul class="nav nav-tabs" style="margin-bottom:-1px;" ng-show="$ctrl.showNav">
  <li ng-repeat="row in $ctrl.data track by $index" ui-sref-active="active">
    <a ui-sref="viewRules({ rulesId: row.RuleGroupID })">
      <span ng-hide="!row.SiteID">
        {{ row.SiteID }}-
      </span>
      {{ row.RuleGroupName }}
    </a>
  </li>
</ul> -->
<div class="panel panel-default">
  <div class="panel-body">
    <ui-view></ui-view>
  </div>
</div>