<div class="view-rules">
  <div class="clearfix" ng-hide="$ctrl.store.hideEditArea">
    <button class="btn btn-success pull-right">导出规则组</button>
  </div>
  <dl class="dl-horizontal">
    <dt>规则组类型：</dt>
    <dd>{{ $ctrl.data.GroupType }}</dd>
    <dt>site ID：</dt>
    <dd>{{ $ctrl.data.SiteID }}</dd>
    <dt>规则组名称：</dt>
    <dd>{{ $ctrl.data.GroupName }}</dd>
    <dt>规则组状态：</dt>
    <dd>{{ $ctrl.data.GroupStatus }}</dd>
    <dt>加入任务时间：</dt>
    <dd>{{ $ctrl.data.JoinTaskTime | date2 }}</dd>
    <dt>创建时间：</dt>
    <dd>{{ $ctrl.data.CreateTime | date2 }}</dd>
  </dl>  
  <div ng-repeat="ruleType in $ctrl.ruleTypes">
    <div class="panel panel-default" ng-init="ruleType.isCollapsed=false">
      <div class="panel-heading">
        {{ ruleType.title }}
        <button class="btn btn-link pull-right" ng-click="ruleType.isCollapsed = !ruleType.isCollapsed">
          <span class="glyphicon" ng-class="{'glyphicon-menu-down': ruleType.isCollapsed, 'glyphicon-menu-up': !ruleType.isCollapsed}"></span>
        </button>
        <button class="btn btn-sm btn-success pull-right" ng-hide="$ctrl.store.hideEditArea">添加规则</button>
      </div>
      <div uib-collapse="ruleType.isCollapsed">
        <div class="panel-body">
          <xx-table config="$ctrl.tableConfigs[$index]"></xx-table>
          <!-- <table class="table table-bordered table-hover">
            <thead class="bg-default">
              <tr>
                <td>Key</td>
                <td>Tag</td>
                <td>权重</td>
                <td>执行次数</td>
                <td>
                  状态
                  <button class="btn btn-sm btn-success" ng-hide="$ctrl.store.hideEditArea">保存</button>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in ruleType.rules">
                <td>
                  <span uib-tooltip-html="row.Tips">{{ row.Key }}</span>
                </td>
                <td ng-bind-html="row.Tag"></td>
                <td>{{ row.Weight }}</td>
                <td>{{ row.ExecCount }}</td>
                <td>
                  {{ row.Status }}
                </td>
              </tr>
              <tr ng-if="!ruleType.rules.length">
                <td colspan="5" class="text-center">空</td>
              </tr>
            </tbody>
          </table>   -->
        </div>
      </div>
    </div>
  </div>
</div>
