<div class="xx-table">
  <table class="table table-bordered table-hover">
    <thead class="bg-default">
      <tr>
        <td 
          ng-repeat="column in columns"
          xx-bind-html="column.head"
        ></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="status==3&&data.length==0">
        <td colspan="{{columns.length}}" class="text-center">空</td>
      </tr>
      <tr ng-repeat="row in data track by $index">
        <td 
          ng-repeat="column in columns"
          xx-bind-html="column.data"
        ></td>
      </tr>
    </tbody>
  </table> 
  <div class="xx-table-tips" ng-if="status!==3">
    <div class="xx-table-tip" ng-show="status==1">
      请求中…
    </div>
    <div class="xx-table-tip" ng-show="status==2">
      请求失败，{{ error }}
      <button class="btn btn-link btn-sm" ng-click="update()">
        <span class="glyphicon glyphicon-repeat"></span>
        重新请求
      </button>
    </div>
  </div>   
</div>
