<div class="xx-table">
  <table class="table table-bordered table-hover">
    <thead class="bg-default">
      <tr>
        <td 
          ng-repeat="column in columns"
          xx-bind-html="column.head"
          ng-hide="column.hide"
        ></td>
      </tr>
    </thead>
    <tbody>
      <tr class="xx-table-tip" ng-show="status!==3||config.data.length==0">
        <td ng-show="status==1" colspan="{{columns.length}}" class="text-center">请求中…</td>
        <td ng-show="status==2"  colspan="{{columns.length}}" class="text-center">
          请求失败，{{ error }}
          <button class="btn btn-link btn-sm" ng-click="update()">
            <span class="glyphicon glyphicon-repeat"></span>
            重新请求
          </button>
        </td>
        <td ng-show="status==3&&config.data.length==0" colspan="{{columns.length}}" class="text-center">空</td>
      </tr>
      <tr ng-repeat="row in config.data track by $index">
        <td 
          ng-repeat="column in columns"
          xx-bind-html="column.data"
          ng-hide="column.hide"
        ></td>
      </tr>
    </tbody>
  </table> 
</div>
