.formly-field {
  position: relative;
}
.formly-field .nowrap {
  padding-right: 0;
  white-space: nowrap;
}
.formly-field .ml0 {
  margin-left: 0;
}
.formly-field .mr15 {
  margin-right: 15px;
}
.formly-field .ml15 {
  margin-left: 15px;
}
.formly-field .pr0 {
  padding-right: 0;
}
.formly-field .validation {
  position: absolute;
  color: red;
  top: 34px;
  font-size: 12px;
}
.form-horizontal ng-form {
  display: block;
}
.form-horizontal .validation {
/*  left: 33.333333333%;
  margin-left: 10px;*/
}
.form-horizontal .no-label .validation {
  left: 0;
  margin-left: 0;
}
.form-horizontal .control-label {
  /*padding-left: 0;*/
  padding-right: 0;
  white-space: nowrap;
}

/* Inline Form */
.form-inline .form-control {
  min-width: 100px;
}
.form-inline .formly-field {
  display: inline-block;
  margin-right: 15px;
}
.form-inline .form-group {
  margin-bottom: 15px;
}
.form-inline .formly-time-range,
.form-inline .formly-time-start,
.form-inline .formly-time-divider,
.form-inline .formly-time-end {
  display: inline-block;
}
.form-inline .formly-time-start .form-control,
.form-inline .formly-time-end .form-control {
  min-width: 160px;
}

/* Time Range */
.form-horizontal .formly-time-range {
  overflow: hidden;
}
.form-horizontal .formly-time-start,
.form-horizontal .formly-time-end {
  float: left;
  width: 45%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap; 
}
.form-horizontal .formly-time-divider {
  float: left;
  width: 10%;
  padding: 0;
  text-align: center;
}

/* 小屏幕下也不会改变样式 */
.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}
.col-sm-2.formly-field .form-group {
  margin-left: 0;
}
/* 位于label位置的field */
@media (max-width: 768px) {
  .col-sm-2.formly-field {
    margin-right: 15px;
  }
  .col-sm-8.formly-field {
    margin: 0 15px 0 0;
  }
}