<form class="form-horizontal" ng-submit="$ctrl.onSubmit()" name="$ctrl.form" novalidate>
  <div class="clearfix">
    <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.options.resetModel()">清除规则</button>  
    <button type="submit" class="btn btn-primary submit-button pull-right" ng-disabled="$ctrl.form.$invalid">保存</button>
  </div>
  
  <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form" options="$ctrl.options">
  </formly-form>
</form>
<div>{{$ctrl.model}}</div>
<button class="btn btn-primary" ng-click="$ctrl.alert()">打开</button>