<div class="task-list">
  <!-- 筛选 -->
  <div class="well well-default">
    <form class="form-horizontal" name="$ctrl.form" novalidate>
      <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form" options="$ctrl.options">
      </formly-form>
      <button class="btn btn-primary" ng-click="$ctrl.filter()">筛选</button>
      <button class="btn btn-default" ng-click="$ctrl.options.resetModel()">重置</button>  
    </form>
    <!-- <div>{{ $ctrl.model | json }}</div> -->
  </div>
  <p><a ui-sref="newTask" class="btn btn-primary">新建任务</a></p>
  <!-- 任务列表 -->
  <table class="table table-bordered table-hover">
    <thead class="bg-default">
      <tr>
        <td>site ID/广告ID</td>
        <td>规则组名称</td>
        <td>规则组类型</td>
        <td>开始时间</td>
        <td>结束时间</td>
        <td>状态</td>
        <td ng-hide="$ctrl.store.hideEditArea">任务进度</td>
        <td>创建时间</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.data">
        <td>{{ row.SiteID }}</td>
        <td>{{ row.RuleGroupName }}</td>
        <td>{{ row.RuleGroupType }}</td>
        <td>{{ row.StartDate | date2 }}</td>
        <td>{{ row.EndDate | date2 }}</td>
        <td>
          {{ row.StatusTitle }}
          <span  ng-hide="$ctrl.store.hideEditArea" ng-if="row.Status==1 || row.Status==2">
            <switch name="enabled" ng-model="enabled" class="green"></switch></div>
          </span>
        </td>
        <td ng-hide="$ctrl.store.hideEditArea">
          <div class="text-center">22%</div>
          <uib-progressbar value="22"></uib-progressbar>
        </td>
        <td>{{ row.CreateTime | date2 }}</td>
        <td>
          <a ui-sref="editTask({taskId: row.TaskID})">编辑任务时间</a>
        </td>
      </tr>
      <tr ng-if="!$ctrl.data.length" class="text-center">
        <td colspan="9">空</td>
      </tr>
    </tbody>
  </table> 
<!--   <div ng-init="bigTotalItems=175;bigCurrentPage=1;maxSize=3;"></div>
  <ul uib-pagination 
    total-items="bigTotalItems" 
    ng-model="bigCurrentPage" 
    max-size="maxSize" 
    boundary-link-numbers="true" 
    previous-text="上一页" next-text="下一页"
  ></ul> --> 
</div>

