:focus {
	outline: none!important;
}
.ng-form {
	display: block;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  height: 100%;
}
body {
	font-size: 1.6rem;
	height: 100%;
}
app {
	display: block;
	height: 100%;
	overflow: hidden;
}
.app-main {
	height: 100%;
	overflow: hidden;
}
.app-main .page-header {
	font-size: 20px;
	margin: 0 -15px;
	padding: 0 15px;
	height: 48px;
	line-height: 48px;
	border-bottom-color: #ddd;
}
.app-main-nav {
	padding-right: 0;
	background-color: #eee;
	text-align: right;
	height: 100%;
}
.app-main-nav .page-header {
	margin: 0;
	border-bottom-color: #ccc;
}
.app-main-nav .nav {
	margin-top: 20px;
}
.app-main-nav .nav-pills > li > a {
	color: #000;
}
.app-main-nav .nav-pills > li.active > a {
	color: #000;
	background-color: #fff;
}
.app-ui-view {
	display: block;
	padding-top: 15px;
}



.hr {
	border-bottom: 1px solid #ddd;
}
.bg-default {
	background-color: #eee;
}
.modal-300 {
	width: 300px;
}
.modal-400 {
	width: 400px;
}
.modal-500 {
	width: 500px;
}
.modal-600 {
	width: 600px;
}
.modal-700 {
	width: 700px;
}

/* 弹窗下的横版表格，修改尺寸*/
.modal form .form-group .col-sm-4 {
	width: 40%;
}
.modal form .form-group .col-sm-8 {
	width: 60%;
}