:focus {
    outline: none!important;
}
.ng-form {
    display: block;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  overflow-x: hidden;
  height: 100%;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  height: 100%;
}
body > ui-view {
  display: block;
  height: 100%;
}
app {
  display: block;
  height: 100%;
}

.app-main {
  position: relative;
  min-height: 100%;
}
.page-title {
  margin: 0 0 0 -15px;
  padding: 0 15px;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #ddd;
}
.app-main-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  min-height: 100%;
  padding-left: 15px;
  padding-right: 0;
  background-color: #eee;
  text-align: right;
}
.app-main-content {
  margin-left: 130px;
  padding-left: 15px;
}

.app-main-nav .page-title {
  border-bottom-color: #ccc;
}
.app-main-nav .nav {
  padding-top: 10px;
}
.app-main-nav .nav-pills > li > a {
  color: #000;
  white-space: nowrap; 
  transition: .3s ease-in-out;
}
.app-main-nav .nav-pills > li > a:hover {
  color: #000;
  background-color: #fff;
}
.app-main-nav .nav-pills > li.active > a {
  color: #000;
  background-color: #fff;
}
.app-ui-view {
  display: block;
  padding-top: 15px;
}


/* 通用 */
.hr {
    border-bottom: 1px solid #ddd;
}
.bg-default {
    background-color: #f5f5f5;
}
.padding {
  padding: 10px;
}
.modal-300 {
    width: 300px;
}
.modal-400 {
    width: 400px;
}
.modal-500 {
    width: 500px;
}
.modal-600 {
    width: 600px;
}
.modal-700 {
    width: 700px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.pl15 {
  padding-left: 15px;
}
.pl30 {
  padding-left: 30px;
}


/* panel-heading的button */
.panel-heading .btn {
  margin-top: -5px;
}
table .btn {
  margin-top: -10px;
  margin-bottom: -8px;
}

/* 弹窗下的横版表单，修改尺寸*/
.modal form .form-group .col-sm-4 {
    width: 40%;
}
.modal form .form-group .col-sm-8 {
    width: 60%;
}


/* tooltip 适用于执行期规则组页面 */
.tooltip-inner {
  max-width: 9999px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.tooltip.top .tooltip-arrow {
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top .tooltip-arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 1px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}