<div class="brand-list">
  <!-- 筛选 -->
<!--   <div class="well well-default">
    <form class="form-horizontal" name="$ctrl.form" novalidate>
      <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form" options="$ctrl.options">
      </formly-form>
      <button class="btn btn-success" ng-click="$ctrl.update()">筛选</button>
      <button class="btn btn-default" ng-click="$ctrl.options.resetModel()">重置</button>  
    </form>
  </div> -->
  <xx-table config="$ctrl.tableConfig" on-init="$ctrl.onTableInit(update)"></xx-table>

